
<div class="border h-screen w-full flex bg-gray-50">
    <div class="">
      <app-navigation></app-navigation>
    </div>
    <main class="flex flex-col flex-1 px-4 overflow-hidden">
      <div
        class="flex items-center justify-between w-full h-[80px] sm:px-6 lg:px-8 gap-8"
      >
        <app-search-form class="flex-1 max-w-[800px]"></app-search-form>
        <app-user-settings-dropdown></app-user-settings-dropdown>
      </div>
    
      <div class="flex-1 flex-col overflow-hidden">
        <router-outlet></router-outlet>
      </div>
    </main>
    
  </div>