<div class="dropdown-create-container">
    <button (click)="showDropdown()" class="shadow-sm border-2 border-gray-300 w-full p-2 rounded-md bg-white dropdown-create-btn outline-none focus:border-indigo-700 font-medium">Crear nuevo</button>
    <div class="border shadow-md rounded-md mt-1 bg-white dropdown-create-content" id="dropdown">
        <a href="" class="block p-2 py-3 text-center hover:text-blue-700">Crear nueva carpeta</a>
        <a href="" class="block p-2 py-3 text-center hover:text-blue-700">Subir archivo</a>
        <a href="" class="block p-2 py-3 text-center hover:text-blue-700">Subir carpeta</a>
    </div>
</div>