<div class="min-w-[200px]">
    <div class="h-[80px] flex items-center justify-center w-full gap-2">
        <i class="fa-regular fa-folder-open mt-[2px] text-2xl"></i>
        <p class="text-center text-xl">File Manager</p>
    </div>
    <div class="px-3 mt-4">
        <app-create-new-dropdown></app-create-new-dropdown>
        <div class="py-3 flex flex-col gap-1">
            <a href="" class="block p-2 focus:bg-indigo-100 focus:text-indigo-700 focus:font-medium rounded-md">Mis Archivos</a>
            <a href="" class="block p-2 rounded-md ">Compartido conmigo</a>
            <a href="" class="block p-2 rounded-md">Compartido por mí</a>
            <a href="" class="block p-2 rounded-md">Papelera</a>
        </div>
    </div>
</div>